# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [4]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [40]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [62]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [1]:
#Posit: Pokemons with type "Dragons" have on average more HP stats(score) than Pokemon with type "Grass"
#we will answer the question using a 2 samples T-test

In [98]:
#create two samples / data frames
df_grass = df[df["Type 1"]=="Grass"]["HP"].dropna()
df_dragon = df[df["Type 1"]=="Dragon"]["HP"].dropna()

Number of Legendary PokÃ©mon HP values: 70
Number of Non-Legendary PokÃ©mon HP values: 32

In [48]:
#Set hypothesis
#Pokemons with type "Dragons" have on average more HP stats(score) than Pokemon with type "Grass"

# H0: HP mu grass >= HP mu dragons
# H1: HP mu grass < HP mu dragons

# alpha = 0.05

In [60]:
#2 samples t-test python
st.ttest_ind(df_grass, df_dragon, equal_var=False, alternative = "less")

TtestResult(statistic=-3.3349632905124063, pvalue=0.0007993609745420599, df=50.83784116232685)

In [ ]:
#comments
#the T-stat of -3.33 indicates that the mean of grass is lower than the mean of dragons
#the p.value of 0.0008 is way smaller than alpha of 0.05
#the null hypothesis can be rejected
#Posit is true: Pokemons with type "Dragons" have on average more HP stats(score) than Pokemon with type "Grass"

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [18]:
#we will use 2-sample T-tests, alternative "two-sided"
#2 samples: legendary vs Non legendary
#variables to be analyzed HP, Attack, Defense, Sp.Atk, Sp.Def, Speed)
#H0 : mu legendary = mu non legendary
#H1 : mu legendary != mu non legendary
#alpha = 0.05

In [124]:
# stat HP
df_leg_hp = df[df["Legendary"]== True]["HP"].dropna()
df_non_leg_hp = df[df["Legendary"]== False]["HP"].dropna()
print(f"Number of Legendary PokÃ©mon HP values: {len(df_leg_hp)}")
print(f"Number of Non-Legendary PokÃ©mon HP values: {len(df_non_leg_hp)}")

Number of Legendary PokÃ©mon HP values: 65
Number of Non-Legendary PokÃ©mon HP values: 735

In [128]:
st.ttest_ind(df_leg_hp, df_non_leg_hp, equal_var=False, alternative = "two-sided")

TtestResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13, df=79.52467830799894)

In [ ]:
# p.value < alpha => reject null hypo
# HP are different

In [136]:
# stat attack
df_leg_att = df[df["Legendary"]== True]["Attack"].dropna()
df_non_leg_att = df[df["Legendary"]== False]["Attack"].dropna()
print(f"Number of Legendary PokÃ©mon attack values: {len(df_leg_att)}")
print(f"Number of Non-Legendary PokÃ©mon attack values: {len(df_non_leg_att)}")
st.ttest_ind(df_leg_att, df_non_leg_att, equal_var=False, alternative = "two-sided")

Number of Legendary PokÃ©mon attack values: 65
Number of Non-Legendary PokÃ©mon attack values: 735

TtestResult(statistic=10.438133539322203, pvalue=2.520372449236646e-16, df=75.88324448141854)

In [ ]:
# p.value < alpha => reject null hypo
# HP are different

In [142]:
#creating a loop to conduct the same analysis on multiple variables
# List of stats to analyze
stats_to_test = ["Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]

# Loop through each stat and perform the t-test
for stat in stats_to_test:
    # Filter the data for Legendary and Non-Legendary PokÃ©mon for the current stat
    df_leg_stat = df[df["Legendary"] == True][stat].dropna()
    df_non_leg_stat = df[df["Legendary"] == False][stat].dropna()

    # Perform the two-sided t-test
    ttest_result = st.ttest_ind(df_leg_stat, df_non_leg_stat, equal_var=False, alternative="two-sided")

    # Print the results
    print(f"--- {stat} ---")
    print(f"Number of Legendary PokÃ©mon {stat} values: {len(df_leg_stat)}")
    print(f"Number of Non-Legendary PokÃ©mon {stat} values: {len(df_non_leg_stat)}")
    print(f"T-statistic: {ttest_result.statistic}")
    print(f"P-value: {ttest_result.pvalue}")
    print(f"Degrees of Freedom: {ttest_result.df}\n")

--- Attack ---
Number of Legendary PokÃ©mon Attack values: 65
Number of Non-Legendary PokÃ©mon Attack values: 735
T-statistic: 10.438133539322203
P-value: 2.520372449236646e-16
Degrees of Freedom: 75.88324448141854

--- Defense ---
Number of Legendary PokÃ©mon Defense values: 65
Number of Non-Legendary PokÃ©mon Defense values: 735
T-statistic: 7.637078164784618
P-value: 4.8269984949193316e-11
Degrees of Freedom: 77.7109511135786

--- Sp. Atk ---
Number of Legendary PokÃ©mon Sp. Atk values: 65
Number of Non-Legendary PokÃ©mon Sp. Atk values: 735
T-statistic: 13.417449984138461
P-value: 1.5514614112239812e-21
Degrees of Freedom: 74.24631137998881

--- Sp. Def ---
Number of Legendary PokÃ©mon Sp. Def values: 65
Number of Non-Legendary PokÃ©mon Sp. Def values: 735
T-statistic: 10.015696613114878
P-value: 2.2949327864052826e-15
Degrees of Freedom: 73.2589256447719

--- Speed ---
Number of Legendary PokÃ©mon Speed values: 65
Number of Non-Legendary PokÃ©mon Speed values: 735
T-statistic: 11.47504444631443
P-value: 1.049016311882451e-18
Degrees of Freedom: 81.62110995711882

In [ ]:
#Comments
#for each varaible analyzed, the p.value is way smaller than alpha of 0.05
#we can reject the null hypo in all cases and conclude that the stats are different between legendary and non legendary pokemons

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [162]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [166]:
# Euclidean distance function with conversion to kilometers
def euclidean_distance_km(lon1, lat1, lon2, lat2):
    distance_in_degrees = np.sqrt((lon2 - lon1)**2 + (lat2 - lat1)**2)
    # Convert degrees to kilometers (approximation)
    distance_in_km = distance_in_degrees * 111  # 111 km per degree
    return distance_in_km

# Coordinates of the school (-118, 37)
school_lon = -118
school_lat = 37

# Coordinates of the hospital (-122, 34)
hospital_lon = -122
hospital_lat = 34

# Calculate the Euclidean distance (in kilometers) between each house and the school
df['distance_to_school_km'] = df.apply(lambda row: euclidean_distance_km(row['longitude'], row['latitude'], school_lon, school_lat), axis=1)

# Calculate the Euclidean distance (in kilometers) between each house and the hospital
df['distance_to_hospital_km'] = df.apply(lambda row: euclidean_distance_km(row['longitude'], row['latitude'], hospital_lon, hospital_lat), axis=1)

# Display the updated DataFrame
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_to_school_km,distance_to_hospital_km
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,514.831833,853.850500
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,486.642280,837.008452
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,529.898003,826.556564
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,532.967630,825.697508
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,538.433530,826.109996
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0,532.953759,824.643347
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0,534.514273,824.756891
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0,448.651510,827.653694
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0,533.726507,823.648423
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0,447.715442,826.550602

In [172]:
df.distance_to_school_km.min()

35.04859055654051

In [174]:
df.distance_to_hospital_km.min()

174.73600115602946

In [ ]:
#something must be wrong, I don't have any distances close to 0.5...